<mat-toolbar>
  <span class="toolbar-element">EntroMines</span>
  <span class="toolbar-separator"></span>
  <span class="toolbar-element">Time: {{ playtime | time }}</span>
  <span class="toolbar-element"><button mat-button (click)="newGame()">New Game</button></span>
</mat-toolbar>

<div class="minefield">
  <mat-grid-list *ngIf="minefield.rows[0].length" [cols]="minefield.rows[0].length" [ngStyle]="minefieldStyle">
    <div *ngFor="let row of minefield.rows">
      <mat-grid-tile *ngFor="let cell of row">
        <app-cell class="cell"
          [cell]="cell"
          [victory]="victory"
          [defeat]="defeat"
          (afterChecked)="cellChecked($event)">
        </app-cell>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
