<mat-toolbar>
  <span class="toolbar-element">EntroMines</span>
  <span class="toolbar-separator"></span>
  <span class="toolbar-element">Time: {{ playtime | time }}</span>
  <span class="toolbar-element"><button mat-button (click)="newGame()">New Game</button></span>
</mat-toolbar>

<div
  *ngIf="minefield" 
  [ngStyle]="minefieldStyle">
  <app-cell
      *ngFor="let cell of minefield.getCells()"
      [cell]="cell"
      [victory]="victory"
      [defeat]="defeat"
      (afterChecked)="cellChecked($event)">
  </app-cell>
</div>